<h1>King Clothing Returns Information</h1>
<p>If you have any problems with Your King Clothing purchase then please contact us. If your item is received as faulty, we will replace it. If you change your mind then please return the item in a saleable state, within 28 days of purchase, and we will refund your payment. Your statutory rights are unaffected.</p>
