<h1>OrderNotifier#received</h1>

<p>
  <%= @greeting %>, thank you for your order, we will email you again once your order has been despatched. We hope you enjoy wearing your King Clothing brand tee-shirt.
</p>
